<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.marvel.Seeker</string>
	<key>CFBundleName</key>
	<string>Seeker</string>
	<key>CFBundleDisplayName</key>
	<string>Seeker</string>
	<key>CFBundleExecutable</key>
	<string>Seeker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Seeker needs to send Apple Events to manage files and Trash.</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
</dict>
</plist>
